.suggestions-count {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.submission {
  margin: 0;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.btn-approve,
.btn-reject {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  border-width: 3px;
}

.btn-approve {
  color: #ffffff;
  background-color: var(--completed-color);
  border-color: #ffffff;
}

.btn-approve:hover {
  color: var(--completed-color);
  border-color: var(--completed-color);
  background-color: #ffffff;
}

.btn-reject {
  color: #ffffff;
  background-color: var(--watching-color);
  border-color: #ffffff;
}

.btn-reject:hover {
  color: var(--watching-color);
  border-color: var(--watching-color);
  background-color: #ffffff;
}

.approval-edit-form {
  display: flex;
}

.approval-edit-field {
  flex: 1;
  border-radius: 10px;
}

.submission-edit-approve {
  color: var(--completed-color);
}

.submission-edit-approve:hover {
  font-weight: 700;
}

.submission-edit-reject {
  color: var(--watching-color);
}

.submission-edit-reject:hover {
  font-weight: 700;
}

.submission-edit-icon {
  padding-left: 1rem;
  padding-right: 1rem;
}

.submission-edit-icon:hover {
  color: var(--primary-color);
}

.suggestions-loading {
  background-color: #dddddd;
  border-radius: 10px;
  padding: 50px;
  margin-top: 20px;
}
.loading-text {
  color: #000000;
}

@media screen and (max-width: 575px) {
  .btn-approve,
  .btn-reject {
    width: 45%;
  }
}
/* 
@media screen and (max-width: 575px) {

}
 */
